#container
	{
		background: green;
		padding: 20px;
		position: relative;
	}
#first-box
	{
		background: blue;
		position: relative;
		top: 10%;
		left: 15%;
		padding: 20px;
		opacity: 0.75;
	}
#second-box
	{
		background: red;
		position: relative;
		top: 0px;
		left: -50%;
		padding: 20px;
		opacity: 1;
	}