.grid-container > div 
	{
		text-align: center;
		padding: 20px 0;
	}
h1
	{
		text-align: center;
	}
.container
	{
		height: 100vh;
		display: grid;
		grid-template-areas: 
					"c1 c2"
					"c3 c4";
		grid-gap: 30px;
		padding: 10px;
	}
.container1
	{
		grid-area: c1;
		background: grey;
	}
.container2
	{
		grid-area: c2;
		background: grey;
	}
.container3
	{
		grid-area: c3;
		background: blue;
	}
.container4
	{
		grid-area: c4;
		background: red;
	}
.carre1
	{
		position: relative;
		left: 30%;
		top: 20%;
		width: 200px;
		height: 200px;
		animation-name: carrer1;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;

	}
.carre2
	{
		height: 70%;
		width: 5%;
		border: 1px solid black;
		position: relative;
		left: 50%;
		top: 10%;
	}
.loader1
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 25%;
		height: 50%;
		position: relative;
		top: 10%;
		left: 5%;
		animation-name: loader1;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
.loader2
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 25%;
		height: 50%;
		position: relative;
		top:-40%;
		left: 37.5%;
		animation-name: loader2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
.loader3
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 25%;
		height: 50%;
		position: relative;
		top: -90%;
		left: 70%;
		animation-name: loader3;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
.boule
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 90%;
		height: 10%;
		background-color: green;
		animation-name: boule;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
@keyframes carrer1 {
	0%{ background :red; transform: rotate(0deg);}
	25%{ background :red; transform: rotate(150deg);}
	50%{ background :red; transform: rotate(360deg);}
	75%{ background: yellow; transform: rotate(-360deg);}
	100%{background: blue; transform: rotate(-150deg);}
}
@keyframes boule {
	0%{ background :red; position: relative; top: 0%;}
	25%{ background :red; position: relative; top: 90%;}
	50%{ background :red; top: 70%;}
	75%{ background: yellow; position: relative; top: 90%;}
	85%{ background: pink; position: relative;top: 85% }
	100%{background: blue; position: relative; top: 90%;}
}
@keyframes loader1 {
	0%{ background :white;}
	50%{ background :grey;}
	100%{background: black;}
}
@keyframes loader2 {
	0%{ background :black;}
	50%{ background :white;}
	100%{background: grey;}
}
@keyframes loader3 {
	0%{ background :grey;}
	50%{ background :black;}
	100%{background: white;}
}