.grid-container > div 
	{
		text-align: center;
		padding: 20px 0;
	}
h1
	{
		text-align: center;
	}
.container
	{
		height: 100vh;
		display: grid;
		grid-template-areas: 
					"c1 c2"
					"c3 c4"
					"c5 c5";
		grid-gap: 30px;
		padding: 10px;
	}
.container1
	{
		grid-area: c1;
		background: grey;
	}
.container2
	{
		grid-area: c2;
		background: grey;
	}
.container3
	{
		grid-area: c3;
		background: blue;
	}
.container4
	{
		grid-area: c4;
		background: red;
		position: relative;
	}
.container5
	{
		grid-area: c5;
		background: yellow;
		position: relative;
		perspective: 800px;
		perspective-origin: top left;
	}
.carre1
	{
		position: relative;
		left: 30%;
		top: 20%;
		width: 200px;
		height: 200px;
		animation-name: carrer1;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;

	}
.carre2
	{
		height: 70%;
		width: 5%;
		border: 1px solid black;
		position: relative;
		left: 50%;
		top: 10%;
	}
.loader1
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 25%;
		height: 50%;
		position: relative;
		top: 10%;
		left: 5%;
		animation-name: loader1;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
.loader2
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 25%;
		height: 50%;
		position: relative;
		top:-40%;
		left: 37.5%;
		animation-name: loader2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
.loader3
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 25%;
		height: 50%;
		position: relative;
		top: -90%;
		left: 70%;
		animation-name: loader3;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
.boule
	{
		border-radius: 50%;
		border: 1px solid black;
		width: 95%;
		height: 10%;
		background-color: green;
		position: relative;
		animation-name: boule;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
.carre4
	{
		position: relative;
		top: 0%;
		left: 95%;
		height: 20px;
		width: 20px;
		background-color: pink;
		border-radius: 30%;
		animation-name: carre4;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-delay: 0.4s;
	}
.carre5
	{
		position: relative;
		top: 15%;
		left: 95%;
		height: 20px;
		width: 20px;
		background-color: fuchsia;
		border-radius: 30%;
		animation-name: carre5;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-delay: 0.8s;
	}
.carre6
	{
		position: relative;
		top: 25%;
		left: 95%;
		height: 20px;
		width: 20px;
		background-color: purple;
		border-radius: 30%;
		animation-name: carre6;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-delay: 0.6s;
	}
.carre7
	{
		position: relative;
		top: 35%;
		left: 95%;
		height: 20px;
		width: 20px;
		background-color: lime;
		border-radius: 30%;
		animation-name: carre7;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-delay: 0.2;
	}
.carre8
	{
		position: relative;
		top: 45%;
		left: 95%;
		height: 20px;
		width: 20px;
		background-color: aqua;
		border-radius: 30%;
		animation-name: carre8;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-delay: 0.4s;
	}
.case1
	{
		position: relative;
		background: white;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case1;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;

	}
.case2
	{
		position: relative;
		background: maroon;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case2;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
.case3
	{
		position: relative;
		background: blue;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case3;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
.case4
	{
		position: relative;
		background: pink;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case4;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
.case5
	{
		position: relative;
		background: green;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case5;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
.case6
	{
		position: relative;
		background: red;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case6;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
.case7
	{
		position: relative;
		background: lime;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case7;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
.case8
	{
		position: relative;
		background: black;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case8;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
.case9
	{
		position: relative;
		background: grey;
		left: 30%;
		top: 20%;
		width: 40px;
		height: 40px;
		animation-name: case9;
		animation-iteration-count: infinite;
		animation-duration: 4000ms;
	}
@keyframes carrer1 {
	0%{ background :red; transform: rotate(0deg);}
	15%{ background :red; transform: rotate(150deg);}
	30%{ background :red; transform: rotate(360deg);}
	55%{ background: yellow; transform: rotate(150deg);}
	65%{background: blue; transform: rotate(0deg);}
	75%{ background: blue; transform: rotate(-150deg); }
	100%{background: green; transform: rotate(-360deg);}
}
@keyframes boule {
	0%{ background :red; top: 0%;}
	25%{ background :red; top: 90%;}
	50%{ background :red; top: 70%;}
	75%{ background: yellow; top: 90%;}
	85%{ background: pink;top: 85% }
	100%{background: blue; top: 90%;}
}
@keyframes loader1 {
	0%{ background :white;}
	50%{ background :grey;}
	100%{background: black;}
}
@keyframes loader2 {
	0%{ background :black;}
	50%{ background :white;}
	100%{background: grey;}
}
@keyframes loader3 {
	0%{ background :grey;}
	50%{ background :black;}
	100%{background: white;}
}
@keyframes carre4 {
	0%{top: -20%; left: 95%; transform: rotate(0deg);}
	20%{top: 75%; left: 95%;}
	40%{top: 75%; left: 0%;}
	60%{top: -20%; left: 0%;}
	100%{top: -20%; left: 95%; transform: rotate(360deg);}
}
@keyframes carre5 {
	0%{top: -20%; left: 95%; transform: rotate(0deg);}
	20%{top: 70%; left: 95%;}
	40%{top: 70%; left: 0%;}
	60%{top: -25%; left: 0%;}
	100%{top: -25%; left: 95%; transform: rotate(360deg);}
}
@keyframes carre6 {
	0%{top: -20%; left: 95%; transform: rotate(0deg);}
	20%{top: 65%; left: 95%;}
	40%{top: 65%; left: 0%;}
	60%{top: -30%; left: 0%;}
	100%{top: -30%; left: 95%; transform: rotate(360deg);}
}
@keyframes carre7 {
	0%{top: -20%; left: 95%; transform: rotate(0deg);}
	20%{top: 60%; left: 95%;}
	40%{top: 60%; left: 0%;}
	60%{top: -35%; left: 0%;}
	100%{top: -35%; left: 95%; transform: rotate(360deg);}
}
@keyframes carre8 {
	0%{top: 45%; left: 95%; transform: rotate(0deg);}
	20%{top: 55%; left: 95%;}
	40%{top: 55%; left: 0%;}
	60%{top: -40%; left: 0%;}
	100%{top: -40%; left: 95%; transform: rotate(360deg);}
}
@keyframes case1{
	0%{transform: translate3d(12px, 15px, 200px);}
	100%{transform: translate3d(12px, 15px, 0px); background: blue; transform: scale3d(1,2,3);}
}
@keyframes case2{
	0%{transform: translate3d(52px, 23px, 400px);}
	100%{transform: translate3d(25px, 15px, 0px); background: red;}
}